.mat-sidenav {
    min-width: 25vw;
      padding: 2rem;
    .mat-button {
      width: 100%;
      position: relative;
      bottom: 0;
      margin: 24px 0;
    }
}

.mat-toolbar {
    .mat-icon {
      cursor: pointer;
    }
    display: flex;
    justify-content: space-between;
    
    
    .toolbar {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
}