/* Margins */
.mt-5{
    margin-top: $margin-max/1;
}

.mb-5{
    margin-bottom: $margin-max/1;
}

.mt-4{
    margin-top: $margin-max/1.25;
}

.mb-4{
    margin-bottom: $margin-max/1.25;
}

.mt-3{
    margin-top: $margin-max/1.5;
}

.mb-3{
    margin-bottom: $margin-max/1.5;
}

.mt-2{
    margin-top: $margin-max/1.75;
}

.mb-2{
    margin-bottom: $margin-max/1.75;
}

.mt-1{
    margin-top: $margin-max/2;
}

.mb-1{
    margin-bottom: $margin-max/2;
}

.mr-1{
    margin-right: $margin-max/2.7;
}

.ml-1{
    margin-left: $margin-max/2.7;
}

.ml-2{
    margin-left: $margin-max/2;
}

/* Paddings */
.pt-5{
    margin-top: $padding-max/1;
}

.pb-5{
    margin-bottom: $padding-max/1;
}

.pt-4{
    margin-top: $padding-max/1.25;
}

.pb-4{
    margin-bottom: $padding-max/1.25;
}

.pt-3{
    margin-top: $padding-max/1.5;
}

.pb-3{
    margin-bottom: $padding-max/1.5;
}

.pt-2{
    margin-top: $padding-max/1.75;
}

.pb-2{
    margin-bottom: $padding-max/1.75;
}

.pt-1{
    margin-top: $padding-max/2;
}

.pb-1{
    margin-bottom: $padding-max/2;
}